.Todo {
    display: flex;
    flex-direction: column;
    gap:  2rem;
    background: #44445e;
    /* border: 2px solid #3bba9c; */
    box-shadow: 3px 3px 15px #00000073;
    min-width: min(90%, 900px);
    border-radius: 0.5rem;
    padding: 1rem;
}

.Todo__title{
    text-transform: uppercase;
    color: #3bba9c;
    text-shadow: 4px 3px 0 #fff;
}

.TaskAdd {
    width: 100%;
    display: grid;
    grid-template: 1fr/ 1fr minmax(50px, 10%);
    gap: 1rem;
}

.TaskEdit {
}

.TaskList {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.TaskItem {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 0.5rem;
    border-radius: 0.5rem;
    background-color: #ffffff;
    border: 2px solid currentColor;
}

.completed {
    background-color: #a0a0a0;
    text-decoration: line-through;
}


.TaskItem__btns{
    display: grid;
    grid-template: 1fr / repeat(3, 1.3rem);
    gap: 1rem;
}

.TaskItem__btn {
    padding: 3px;
    border-radius: 0.5rem;
    cursor: pointer;
    align-self: center;
    height: 100%;
    transition: all 0.5s;
}

.TaskItem__btn:hover{
    background-color: #d8d8d8;
    transform: scale(1.1);
}